[global]
hardware = hackrf
status = hackrf-aprs.local
mode = fm
ttl = 1
data = hackrf-aprs-pcm.local

[hackrf]
device = hackrf
description = "SIGedge HackRF APRS 144.390 MHz"
frequency = 144640000

[aprs-144390]
freq = "144m390"