[global]
hardware = rx888
status = rx888-wwv.local
mode = am
ttl = 1
data = rx888-wwv-pcm.local

[rx888]
device = rx888
description = "SIGedge RX-888 WWV 10 MHz"
samprate = 64800000
firmware = SDDC_FX3.img

[wwv-10mhz]
freq = "10m0"