[Unit]
Description=SIGedge RTL-TCP Server

Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/bin/sh -c "rtl_tcp -a $(hostname -I)"
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
